{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        
<section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ex ea voluptatem maiores cumque omnis nostrum praesentium vero! Facere quas, assumenda a enim nobis corrupti hic dolore cupiditate voluptatem accusantium. Impedit, maxime. Quod modi voluptates maxime numquam! Harum, ea cumque? Illum debitis architecto reiciendis odio non, ipsam nam distinctio maxime! Consectetur, modi a? Maiores assumenda veniam incidunt odio beatae facilis doloremque eligendi explicabo corporis, alias vero, tempora architecto ab atque ea. Explicabo esse officiis reiciendis iste laboriosam asperiores, dolorem consequatur tempore deserunt et, dolore, possimus deleniti quia itaque incidunt. Cum enim dolore magni ea temporibus obcaecati et natus doloribus quae.</p>


<div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
        Signin
    </a>
    <a class="btn btn-dark" href="/signup/">
        Signup
    </a>
</div>
</section>
    </main>
{%endblock%}

